/* Reset */
html {
	margin:0;
	padding:0;
	border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	line-height: 1.5;
	background: white;
  font-family: Verdana;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

ul {
  list-style-type: none;
}

ol {
  list-style-position: inside;
}

a,
a:visited{
  color: #000;
  text-decoration: none;
}

.error{
  font-size: 10pt;
  color: #b94a48;
}

#wrapper {
  width: 1210px;
  margin: 5px auto;
}

header {
  background-color: #00e837;
  height:24px;
}

header h1 {
  font-weight: bold;
  font-size: 10pt;
  line-height: 24px;
  margin-left: 2px;
  display: inline;
}

header .logo {
  margin: 2px;
  border: 1px solid #FFF;
  width: 18px;
  height: 18px;
  float: left;
}

header li::before{
  content: '| ';
}

header li:first-child::before{
  content: '';
}

header ul {
  margin: 0;
  display: inline;
  font-size:10pt;
  line-height:24px;
  padding: 0 15px;
}

header ul li {
  display: inline;
  padding:0 2px;
  line-height:20px;
}

header .user {
  float: right;
  width: 200px;
  text-align: right;
  padding-right: 5px;
  font-size: 10pt;
  line-height: 24px;
}

header .user .username::after {
  content: ' | ';
}

#content {
  padding: 5px 20px;
  background-color: #f2f0ed;
  min-height: 300px;
}

#content h2 {
  line-height: 200%;
}

.title {
  position: relative;
  height: 15px;
  display: inline-block;
  font-size: 10pt;
}

.indicator {
  position: absolute;
  left: -3px;
  width: 13px;
  height: 15px;
}

.postPage .indicator {
  left: -13px;
}

a.upvote {
  bottom: -4px;
  color: #828282;
  font-size: 7pt;
  font-family: Arial;
}

.isAuthor{
  color: #00e837;
}

.disclaimer {
  padding: 20px 0;
  font-size: 10pt;
  color: #828282;
}

.commentForm {
  padding-top: 15px;
}

.commentForm textarea {
  width: 496px;
  height: 96px;
}

.postForm input[type=text]{
  width: 408px;
}

ol.commentList {
  list-style-type: none;
  font-size: 9pt;
  color: #828282;
}

ol.commentList li {
  padding-top: 10px;
}

ol.commentList li .postTitle {
  display: none;
}

ol.commentList li .commentBody {
  color: #000;
}

.postPage ol.commentList {
  padding-top: 60px;
}

.postPage .title {
  padding-top: 6px;
}

ol.postList {
  margin-left: -11px;
  color: #828282;
  font-size: 10pt;
  padding: 10px 0;
  list-style-position: inside;
}

ol.postList li {
  height: 34px;
}

ol.postList li:nth-child(n+10) {
  margin-left: -8px;
}


ol.postList .title a.postLink {
  margin-left: 9px;
}

.domain {
  font-size: 8pt;
  margin-left: 5px;
  color: #828282;
}

ul.userFields {
  color: #828282;
  font-size: 10pt;
}

ul.userFields a {
  text-decoration: underline;
}

ul.userFields li {
  height: 25px;
}

ul.userFields li span.label {
  display: inline-block;
  width: 80px;
}

ol.userList {
  color: #828282;
  font-size: 10pt;
}

.subtext {
  position: relative;
  font-size: 7pt;
  color: #828282;
}

.post .subtext {
  padding-left: 29px;
  margin-top: -3px;
}

.commentList .subtext {
  font-size: 8pt;
}

.subtext a,
.subtext a:visited {
  color: #828282;
}

.subtext a:hover {
  text-decoration: underline;
}

.subtext a.upvote {
  bottom: -1px;
}

.subtext a.upvote:hover {
  text-decoration: none;
}


.subtext .points {
  padding-right: 4px;
}

.subtext .author::before {
  content: 'by ';
}

.commentList .subtext .author::before {
  content: '';
}

.subtext .date {
  padding-left: 4px;
}

.subtext .postTitle {
  padding-left: 4px;
}

.subtext .commentCount::before {
  content: ' | ';
}

footer {
  border-top: 2px solid #00e837;;
  background-color: #f6f6ef;
  overflow: hidden;
  padding: 10px 0;
}

footer ul {
  padding: 5px 20px;
  font-size: 8pt;
  text-align: center;
}

footer ul li {
  display: inline;
}

footer ul li::after {
  content: ' | ';
}

footer ul li:last-child::after {
  content: '';
}




