/* Reset */
html {
	margin:0;
	padding:0;
	border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	line-height: 1.5;
	background: white;
  font-family: Verdana;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/*:focus { outline: 0; }*/


a,
a:visited{
  color: #000;
  text-decoration: none;
}

.error{
  font-size: 10pt;
  color: #b94a48;
}

form ul {
  list-style-type: none;
}

#wrapper {
  width: 1210px;
  margin: 5px auto;
}

header {
  background-color: #00e837;
  height:24px;
}

header h1 {
  font-weight: bold;
  font-size: 10pt;
  line-height: 24px;
  margin-left: 2px;
  display: inline;
}

header .logo {
  margin: 2px;
  border: 1px solid #FFF;
  width: 18px;
  height: 18px;
  float: left;
}

header li::before{
  content: '| ';
}

header li:first-child::before{
  content: '';
}

header ul {
  list-style-type: none;
  margin: 0;
  display: inline;
  font-size:10pt;
  line-height:24px;
  padding: 0 15px;
}

header ul li {
  display: inline;
  padding:0 2px;
  line-height:20px;
}

header .user {
  float: right;
  width: 200px;
  text-align: right;
  padding-right: 5px;
  font-size: 10pt;
  line-height: 24px;
}

header .user .username::after,
header .user .register::after{
  content: ' | ';
}

#content {
  padding: 0 5px;
  background-color: #f2f0ed;
  min-height:300px;
}

#content h2 {
  line-height: 200%;
}

#content ol {
  margin-left: 30px;
  color: #828282;
  font-size: 10pt;
  padding: 10px 0;
}

#content .disclaimer {
  padding: 20px 0;
  font-size: 10pt;
  color: #828282;
}

.postForm input[type=text]{
  width: 408px;
}

.post {
  padding: 5px 15px;
}

.subtext {
  font-size: 8pt;
  color: #828282;
  padding:5px 0;
}

.subtext a,
.subtext a:visited {
  color: #828282;
}

footer {
  border-top: 2px solid #00e837;;
  background-color: #f6f6ef;
  overflow: hidden;
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
  padding: 5px 20px;
  font-size: 8pt;
  text-align: center;
}

footer ul li {
  display: inline;
}

footer ul li::after {
  content: ' | ';
}

footer ul li:last-child::after {
  content: '';
}




